<launch>
  <arg name="project" default="ct_lio"/>
  <arg name="config_yaml" default="$(find ct_lio)/config/liosam_livox.yaml"/>
  <arg name="trajectory_csv" default="/tmp/do_ct_lio_liosam_livox_trajectory.csv"/>

  <include file="$(find ct_lio)/launch/run_eskf.launch">
    <arg name="project" value="$(arg project)"/>
    <arg name="config_yaml" value="$(arg config_yaml)"/>
    <arg name="trajectory_csv" value="$(arg trajectory_csv)"/>
    <arg name="rviz" value="false"/>
  </include>
</launch>
